<%= form_with model: club do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
    <% club.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :country_abbr %><br>
    <%= form.text_field :country_abbr %>
    <% club.errors.full_messages_for(:country_abbr).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :location %><br>
    <%= form.text_area :location %>
    <% club.errors.full_messages_for(:location).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :gender %><br>
    <%= form.text_area :gender %>
    <% club.errors.full_messages_for(:gender).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :club_or_international %><br>
    <%= form.text_area :club_or_international %>
    <% club.errors.full_messages_for(:club_or_international).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <% @club.config.keys.each do |key| %>
    <div class="field">
      <%= form.label key %><br />
      <%= text_area_tag "club[" + key + "]", @club.config[key], size: "20x5" %>
    </div>
  <% end %>

<% if !@club.config.keys.include?("fbref_table_name") %>
  <div>
    <%= form.label :fbref_table_name %><br>
    <%= form.text_area :fbref_table_name %>
    <% club.errors.full_messages_for(:fbref_table_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% end %>
<% if !@club.config.keys.include?("fbref_url") %>
  <div>
    <%= form.label :fbref_url %><br>
    <%= form.text_area :fbref_url %>
    <% club.errors.full_messages_for(:fbref_url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>