<%= turbo_include_tags %>
<h1><%= @club.name %></h1>

<p><%= @club.location %></p>

<% if @club.elo %>
<p>ELO rating: <%= @club.elo.elo_rating %></p>
<% end %>

<% @table_snippets.each do |table_snippet| %>
 <h3><%= link_to table_snippet[:table][:name], table_snippet[:table] %></h3>
 <table class="table sortable">
  <thead class="table__thead">
    <%= render "table_rows/unsortable_table_header" %>
  </thead>
  <tbody>
    <%= render table_snippet[:table_rows] %>
  </tbody>
</table>
<% end %>

<h3>Matches</h3>
<table class="table sortable">
  <thead class="table__thead">
    <%= render "matches/unsortable_table_header" %>
  </thead>
  <tbody>
    <%= render @matches %>
  </tbody>
</table>

<ul data-turbo-prefetch="false">
  <li><%= link_to "Back to tables", tables_path %></li>
  <li><%= link_to "New Club", new_club_path %></li>
  <li><%= link_to "Refresh", refresh_club_path(@club) %></li>
  <li><%= link_to "Edit", edit_club_path(@club) %></li>
  <li><%= link_to "Destroy", club_path(@club), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<style>
td, th {
  border: 1px solid #999;
  background-color: #AFEEEE;
}
td {
  padding: 0.3rem;
}
th {
  padding: 0.9rem;
}
</style>
