<tr>
    <td><%= table_row.position %></td>
    <td><%= table_row.team_name  %></td>
    <td><%= table_row.points%></td>
    <td><%= table_row.goal_difference %></td>
    <td><%= table_row.xg_diff_per90 %></td>
 </tr>