<%= form_with model: table do |form| %>
  <div>
    <%= form.label :country_abbr %><br>
    <%= form.text_field :country_abbr %>
    <% table.errors.full_messages_for(:country_abbr).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :level %><br>
    <%= form.text_area :level %>
    <% table.errors.full_messages_for(:level).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :name %><br>
    <%= form.text_area :name %>
    <% table.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

<% @table.config.keys.each do |key| %>
  <div class="field">
    <%= form.label key %><br />
    <%= text_area_tag "table[" + key + "]", @table.config[key], size: "20x5" %>
  </div>
<% end %>

<% if @table.config.keys.size==0 %>
  <div>
    <%= form.label :fbref_url %><br>
    <%= form.text_area :fbref_url %>
    <% table.errors.full_messages_for(:fbref_url).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
<% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>