<h1>Tables</h1>

<ul>
  <% @tables.each do |table| %>
    <li>
      <%= link_to table.name, table_season_path(table[:id], "2024-2025") %>
    </li>
  <% end %>
</ul>

<br><br>
<h5>Setup options</h5>
<ul data-turbo-prefetch="false">
  <li><%= link_to "New table", new_table_path %></li>
  <li><%= link_to "New club", new_club_path %></li>
  <li><%= link_to "Refresh all tables", refresh_all_tables_path %></li>
  <li><%= link_to "Refresh all clubs", refresh_all_clubs_path %></li>
</ul>