<%= turbo_include_tags %>
<h1><%= @table.name %></h1>

<p><%= @table.country_abbr %>, level <%= @table.level %></p>

<table class="table sortable">
  <thead class="table__thead">
    <%= render "table_rows/sortable_table_header" %>
  </thead>
  <tbody>
    <%= render @table_rows %>
  </tbody>
</table>

<ul data-turbo-prefetch="false">
  <li><%= link_to "Back to tables", tables_path %></li>
  <li><%= link_to "Refresh", refresh_table_path(@table) %></li>
  <li><%= link_to "Edit", edit_table_path(@table) %></li>
  <li><%= link_to "Destroy", table_path(@table), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<style>
td, th {
  border: 1px solid #999;
  background-color: #AFEEEE;
}
td {
  padding: 0.3rem;
}
th {
  padding: 0.9rem;
}
</style>
